$text-color: white;
$primary: #FFBF42;

html, body {
  background: #080808 !important;
  color: $text-color !important;
}

.modal-content {
  background-color: #fff0;
}

.btn .btn-secondary {
  background-color: black !important;
  border-color: white !important;
}

.list-group {
  width: auto;
  margin: auto;
  padding-top: 5%;
}

.list-group-item {
  display: block;
  border-color: #fff !important;
  background-color: #fff0 !important;
  margin-block-start: 10px;
}
