
<div id="main">
  <h1 class="flex justify-center"> ping </h1>
  <h1 id="lobby-status" class="flex justify-center"> In lobby for game </h1>
  <h1 id="lobby-members" class="flex justify-center"></h1>
  <h1 id="okok" class="flex justify-center"> Force Start </h1>
  <div class="flex justify-center">
    <button class="btn btn-outline-primary" id="force-start">0/6</button>
  </div>
</div>
